/* déclaration de la police perso */
@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree/woff2/Figtree-Medium.woff2) format(woff2),
    url(./fonts/Figtree/woff/Figtree-Medium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree/woff2/Figtree-ExtraBold.woff2) format(woff2),
    url(./fonts/Figtree/woff/Figtree-ExtraBold.woff) format(woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* variables  */
:root {
  --colorBackground: hsl(47, 88%, 63%);
  --colorCard: hsl(0, 0%, 100%);
  --colorThird: hsl(0, 0%, 42%);
  --colorFourth: hsl(0, 0%, 7%);
  --fontPrincipal: 'Figtree', sans-serif;
}

body {
  background-color: var(--colorBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--colorCard);
  font-family: var(--fontPrincipal);
  font-weight: 500;
  max-width: 25rem;
  padding: 1.5625rem;
  margin: 1.25rem;
  border-radius: 1.25rem;
  border: 0.125rem solid var(--colorFourth);
  box-shadow: 0.375rem 0.375rem 0.0625rem var(--colorFourth);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.card-illustration {
  border-radius: 0.625rem;
}

.card-category {
  background-color: var(--colorBackground);
  font-weight: 800;
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}

.card-date {
  margin: 0.625rem 0rem 0rem 0rem;
}

.card-title {
  font-weight: 800;
  font-size: 1.625rem;
  cursor: pointer;
}
.card-title:hover {
  color: var(--colorBackground);
}

.card-description {
  color: var(--colorThird);
}

.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.author-avatar {
  width: 1.875rem;
  height: auto;
}

.author-name {
  font-weight: 800;
  font-size: 0.875rem;
}

/* Media queries */

@media (max-width: 27.5rem) {
  .card-category,
  .card-date,
  .card-description {
    font-size: 0.8125rem;
  }
  .card-title {
    font-size: 1.25rem;
  }
  .author-avatar {
    width: 1.5rem;
  }
  .author-name {
    font-size: 0.75rem;
  }
}
